* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: none;
}
.home-page {
    width: 100%;
    height: 100vh;
    /* background-color: #1f1d13; */
}
#top-navbar {
    width: 100%;
    height: 100vh;
}
.top-navbar {
    width: 100%;
    height: 8vh;
    background: #1f1d13;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

}
.top-icons {
    margin-left: 45px;
}
.top-icons i {
    color: white;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}
.top-icons i:hover {
    color: white;
    background-color: #fa9806;
    font-size: 25px;
}
.other-link {
    margin-left: 33px;
}
.other-link i {
    color: white;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}
#btn-login {
    height: 5ch;
    border-radius: 5px;
    background-color: #fa9806;
    cursor: pointer;
    transition: 0.5s ease;
    border: 2px solid #fa9806;
    width: 100px;
    font-weight: bold;
}
#btn-login a {
    text-decoration: none !important ;
    color: white;
}
#btn-signup {
    height: 5ch;
    border-radius: 5px;
    background-color: #fa9806;
    cursor: pointer;
    transition: 0.5s ease;
    border: 2px solid #fa9806;
    width: 100px;
    font-weight: bold;
}
#btn-signup a {
    text-decoration: none !important ;
    color: white;
}
#btn-signup:hover {
    background-color: black;
    color: white;
    
}
#btn-login:hover {
    background-color: black;
    color: white; 
}
@media screen and (max-width:500px) {
    .top-icons {
        margin-left: 5px;
    }
    .top-icons i {
        font-size: 15px;
    }
    .other-link {
        margin-right: 10px;
    }
    .other-link i {
        font-size: 15px;
    }
    .navbar .navbar-brand {
        font-size: 20px;
    }
    #btn-login {
        width: 40px;
        height: 5vh;
        font-size: 10px;
    } 
    #btn-signup {
        width: 40px;
        height: 5vh;
        font-size: 10px;
    } 
}
@media screen and (max-width:300px) {
    .top-icons {
        margin-left: 3px;
    }
    .top-icons i {
        font-size: 10px;
    }
    .navbar .navbar-brand {
        font-size: 10px;
    }
    .other-link {
        margin-right: 8px;
    }
    .other-link i {
        font-size: 10px;
    }
    #btn-login {
        width: 30px;
        height: 3vh;
        font-size: 5px;
    } 
    #btn-signup {
        width: 20px;
        height: 3vh;
        font-size: 5px;
    } 
}


/*navbar start */
.navbar {
    background-color: #fa9806;
    font-weight: bold;
    width: 100%;
    color: white;
   
}


.navbar img{
    width: 60px;
    
    
}
.navbar-brand {
    color: #fa9806;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Overpass', sans-serif;
    font-family: 'Roboto', sans-serif;
    
    
}
.navbar-toggler-icon {
    background-color: #fa9806;
}
.nav-link {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;

    
}
.nav-link:active {
    background: white;
    color: white;
}
.nav-link:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
}
.search {
    border-radius: 20px;
    outline: none;
    border: 2px solid #fa9806;
    color: black;
    width: 80%;
    height: 40px;
    margin-right: -35px;

}
.btn {
    border-radius: 20px;
    border: 0px solid #fa9806;
    background: black;
    height: 40px;
    cursor: pointer;
    width: 40%;
    color: white;
}
.btn:hover {
    background-color: #fa9806;
    color: white;
    outline: white;
}
.dropdown-menu {
    background-color: #fa9806;
    opacity: 0.8;
}
.dropdown-menu a {
    font-size: 10px;
}


/*home page start */
.home {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    flex-wrap: wrap;
    background-color: #1f1d13;
    z-index: 0;

}
.home .img {
    margin-right: 150px;
    margin-top: 15%;
}

.home .img img{
    width: 100%;
}
.home .content {
    margin-top: 15%;
    flex: 1 1 400px;

}
.content h3 {
    margin-left: 70px;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
}
.content span {
    font-size: 40px;
}
.content p {
    color: white;
    margin-left: 70px;
    font-family: 'Poppins', sans-serif;
}
.content .btn1 {
    width: 200px;
    margin-left: 70px;
    height: 40px;
    background-color: #fa9806;
    outline: none;
    transition: 0.5s;
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.content .btn1:hover {
    background-color: white;
    color: #e68d07;
    transform: .5s ease-in;
}
@media screen and (max-width: 800px) {
    .content h3 {
        margin-left: 50px;
        font-size: 40px;
    }
    .content p {
        margin-left: 50px;
    }
    .content .btn1 {
        margin-left: 50px;
    }
}
@media screen and (max-width: 500px) {
    .content h3 {
        margin-left: 30px;
        font-size: 20px;
    }
    .content p {
        margin-left: 30px;
    }
    .content .btn1 {
        margin-left: 30px;
    }
}
@media screen and (max-width: 200px) {
    .content h3 {
        margin-left: 10px;
        font-size: 5px;
    }
    .content p {
        margin-left: 10px;
    }
    .content .btn1 {
        margin-left: 10px;
    }
}
/* card top */
#top-cards {
    background-color: whitesmoke;
    border-radius: 10px;
    border: 2px solid whitesmoke;

    
}

.sub-h {
    font-size: 700;
    color: orange;
    font-weight: bold;
    font-family: 'Dela Gothic One', cursive;
}
.card .img-fluid {
    height: 40vh;
}
.card p {
    margin-left: 10px;
}
.card h5 {
    margin-left: 10px;
    color: orange;
    font-weight: bold;
}
.card img {
    transition: .5s ease-out;
    cursor: pointer;
}
.card img:hover {
    transform: scale(.5);
}
strike {
    color: red;
}
.btn3 {
    outline: none;
    color: white;
    width: 30%;
    height: 40px;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 10px;
}
.btn3:hover {
    color: orange;
    background-color: #1f1d13;
    border: 2px solid #1f1d13;
}
.banner .content {
    width: 100%;
    height: 100vh;
    background-image: url('/images/photo4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.content h1 {
    padding-top: 300px;
    color: orange;
    font-weight: bold;
    font-size: 60px;

}
.content p {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.content .btn4 {
    width: 150px;
    outline: none;
    background-color: transparent;
    height: 40px;
    border:3px solid white;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.content .btn4:hover {
    color: orange;
    background-color: #1f1d13;
    border: 2px solid #1f1d13;
}

/*banner2*/
.banner2 .content {
    width: 100%;
    height: 40vh;
    background-image: url('/images/photo1.avif');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.content h1 {
    padding-top: 80px;
    color: orange;
    font-weight: bold;
    font-size: 60px;

}
.content p {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.content .btn4 {
    width: 150px;
    outline: none;
    background-color: transparent;
    height: 40px;
    border:3px solid white;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.content .btn4:hover {
    color: orange;
    background-color: #1f1d13;
    border: 2px solid #1f1d13;
}
/*products*/
.product-cards .img-fluid {
    height: 25vh;
    width: 98%;
}
.product-cards .card {
    border: 2px solid whitesmoke;
    margin-top: 8px;
    
}
.product-cards .card-body {
    background-color: whitesmoke;
    color: black;
}
.product-cards h1 {
    font-weight: bold;
    font-size: 30px;
    color: orange;
    font-family: 'Croissant One', cursive;
}
.product-cards p {
    font-size: 15px;
}
.product-cards h3 {
    color: black;
    font-weight: bold;
}
.product-cards .checked {
    color: orange;
}
.product-cards span {
    float: right;
}
.product-cards h5 {
    color: black;
    font-weight: normal;
}
.product-cards strike {
    font-weight: normal;
}
.product-cards .row .btn5 {
    border: 2px solid black;
    width: 40px;
    height: 40px;
}
button a {
    text-decoration: none;
}
.imgg i{
    font-size: 50px;
    color: orange;
}
.btn4 {
    width: 150px;
    outline: none;
    background-color: orange;
    height: 40px;
    border:3px solid white;
    border-radius: 10px;
    font-weight: bold;
}
.btn4 a {
    outline: none;
    color: white;
    width: 30%;
    height: 40px;
    background-color: orange;
    /* border: 2px solid orange; */
    border-radius: 10px;
}
.btn4:hover {
    color: orange;
    background-color: #1f1d13;
    border: 2px solid #1f1d13;
}


/* footers */
#footer {
    padding: 0 0 40px 0;
    background-color: black;
    font-size: 14px;
    color: #d0d0d0;

}
#footer .footer-top {
    padding: 50px 0px 30px;
    background-color: black;
    color: white;
}
.footer-top .footer-contact {
    margin: 0px 0 200px;
}
.footer-top .footer-contact h3 {
    font-size: 40px;
    text-shadow: 2px 2px white;
    font-family: 'Croissant One', cursive;
    font-weight: 700;
}

.footer-top .footer-contact p {
    font-size: 14px;
    line-height: 2;
    margin: 0;
    font-weight: 500;
}
.footer-top .footer-contact i {
    margin-top: 20px;
}
.footer-top .footer-links h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
    padding-top: 20px;
}
.footer-top .footer-links ul {
    list-style: none;
    /* line-height: 1.7; */
}
.footer-top .footer-links ul li {
    padding-right: 10px 0;
    display: flex;
    align-items: center;
}
.footer-top .footer-links ul li a {
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 2;
    color: greenyellow;
}
.footer-top .footer-links ul li:first-child {
    padding-top: 10px;
}
.footer-top .footer-links ul li a:hover {
    color: white;
    background-color: black;

}
.footer-top .social-links a{
    font-size: 30px;
    display: inline-block;
    color: greenyellow;
    transition: 0.5s ease;
    line-height: 1;
    height: 36px;
    width: 40px;
    /* margin-right: 4px; */
    background-color: black;
}
.footer-top .social-links a:hover {
    color: white;
    background-color: black;
}
#footer .copyrigt {
    text-align: center;
    float: left;
}
.footer .credits {
    float: right;
    align-items: center;
}
.footer .credits a {
    color: greenyellow;

}
/*footer*/
html {
    scroll-behavior: smooth;
}
.arrow {
    position: fixed;
    border-radius: 50px;
    bottom: 40px;
    height: 50px;
    right: 50px;
    color: #d0d0d0;
    line-height: 50px;
    align-items: center;
}
.arrow img {
    width: 50px;
    color: white;
    background-color: greenyellow;
    border-radius: 50px;
    text-decoration: none;
}

/* login*/
/* .login1 {
    width: 100%;
    margin: 20px;
    background-color: white;
} */
#side1 {
    background: #143d59;
    /* background-color: whitesmoke; */
    height: 76vh;
    border-radius: 5px;
    box-sizing: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.row {
    width: 100%;
}
#side1 h3 {
    color: white;
    /* box-shadow: 1px 1px 1px black; */
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin-top: 200px;
    font-size: 20px;
    font-family: 'Roboto slab', sans-serif;

}
#side1 p {
    color: white;
    font-family: 'Roboto slab', sans-serif;
    font-weight: bold;
    text-align: center;
    align-items: center;
}
.btn1 {
    text-align: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
}
.btn1 a {
    text-decoration: none;
    color: white;
}
.btn1 a:hover {
    background-color: white;
    color: #143d59;

}
#side2 {
    background-color: white;
    color: black;
    align-items: center;
    border-radius: 5px;
    box-sizing: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#side2 h3 {
    margin-top: 50px;
    font-weight: bold;
    color: #143d59;
}
#side2 .input {
    margin-top: 32px;
}
#side2 input {
    width: 500px;
    height: 30px;
    margin: 5px;
    background-color: #143d59;
    outline: none;
    border: none;
    padding: 5px;
    color: white;
}
#side2 input::placeholder {
    color: white;
}
#side2 p {
    color: #143d59;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}
#side2 .icons i{
    font-size: 40px;
    color: #143d59;
    margin-left: 10px;
}
#side2 .btn4 {
    width: 150px;
    height: 40px;
    font-weight: bold;
    color: white;
    background-color: #143d59;
    outline: none;
    border: none;
    margin-top: 10%;
}
#side2 .btn4:hover {
    background-color: black;
    color: white;
}
.home-page1 {
    background-color: rgb(238, 234, 234);
}

/* login*/

@media screen and (max-width: 992px) {
    #side2 input{
        width: 300px;
    }
}
@media screen and (max-width: 330px) {
    #side2 input{
        width: 200px;
    }
}
/*contact*/
.contact-me {
    background-color: #1f1d13;
    color: white;
}
/* .news {
    background-color: black;
    color: white;
} */
.btn3 {
    height: 45px;
    width: 100px;
    background-color: black;
    border: 2px solid black;
    margin-left: -10px;
    font-weight: 600;
    outline: none;
}
.news input {
    height: 44.7px;
    width: 55%;
    border: 2px solid black;
    outline: none;
    background: transparent;
    margin-top: 20px;
    /* color: white; */
}
.news::placeholder {
    color: white;
}
.news p {
    margin: 0;
}
/*contact*/




