* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: none;
}
.top-navbar {
    width: 100%;
    height: 6vh;
    background: #1f1d13;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.top-navbar i {
    color: white;
}